@model ObjectM

@{
    ViewData["Title"] = "Borrar cuenta";
}

<h3 class="mb-3">¿Are you sure of remove the object @Model.Name?</h3>

<form asp-action="RemoveObject">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Remove</button>
    <a class="btn btn-secondary" asp-action="DataSaved">Cancelar</a>
</form>